{% extends 'questions/base.html' %}
{% block content %}
<section id="about-banner">

            <div class="menu">
                <nav class="navbar navbar-default menu_top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% load static %}
                        <a href="/" class="logo"><img src="{% static 'questions/img/logo.png'%}"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu" >
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="about.html">О сервисе</a></li>
                            <li><a href="#advance">VERSUS сайтов</a></li>
                            <li><a href="#project">Автоматический парсинг</a></li>
                            <li><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

</section>
<section id="content-pars">
     <div class="container">
        <div class="row main-content">
            <div class="col-md-12 text-banner text-center">
                <h1>О сервисе</h1>
            </div>
        </div>
        <div class="b-who-you">
            <div class="col-md-12">
                <h3 class="text-center">Кто вы?</h3>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <a href="#ruk-link">
                    {% load static %}
                    <img src="{% static 'questions/img/biz.png' %}" class="hidden-xs">
                    <h4>Работодатель</h4>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <a href="#seo-link">
                    {% load static %}
                    <img src="{% static 'questions/img/seo.png' %}" class="hidden-xs">
                    <h4>SEO-специалист</h4>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <a href="#stud-link">
                    {% load static %}
                    <img src="{% static 'questions/img/stud.png' %}" class="hidden-xs">
                    <h4 class="text-center">Студент</h4>
                </a>
            </div>
            <div class="col-md-12 text-center">
                <p>Для каждого из Вас найдется удобное решение!</p>
            </div>
        </div>
        <div class="row main-about">
            <div  class="work-ap">
                <div class="col-md-12 text-center" id="ruk-link">
                    <h2>Для работодателей</h2>
                </div>
                <div class="col-md-3 hidden-xs">
                    {% load static %}
                    <img src="{% static 'questions/img/biz.png' %}">
                </div>
                <div class="col-md-9">
                    <p>Вы руководитель какого-нибудь предприятия и вам нужно проверить работу своего seo-специалиста или просто его не оказалось рядом и вы хотите посмотреть анализ вашего сайта, посмотреть позиции в поисковой выдаче - тогда вы попали по адресу! В нашем сервисе вы можете узнать всю интересующую вас информацию касательно вашего сайта, а также здесь вы не будете чувствовать себя не в своей тарелке, потому что мы постараемся донести всю эту информацию на “человеческом” языке, с пояснениями, с подсказками.
                    </p>
                    <ul>
                        <p class="text-left">Какие услуги мы предоставляем именно вам:</p>
                        <li> - проверка работы ваших специалистов ;</li>
                        <li> - пояснения непонятных вам терминов;</li>
                        <li> - указание на ошибки.</li>
                    </ul>
                </div>
             </div>
         </div>
         <div class="row main-about">
            <div class="work-ap" id="seo-link">
                <div class="col-md-12 text-center">
                    <h2>Для SEO-специалистов</h2>
                </div>
                <div class="col-md-9">
                   <p>Все  студенты, обучающиеся на специальностях связанных с информационными технологиями, имеют бесплатный полный доступ ко всем нашим ресурсам! И чтобы воспользоваться этим шансом вам всего лишь  при регистрации надо предъявить фотографию действующего студенческого билета. Анализ сайта -  неизбежный процесс для студента веб-программиста, который, к сожалению, не всем легко дается.
                </p>
                <ul>
                    <p>Наш сервис предоставляет вам: </p>
                    <li> - бесплатный полный анализ сайта;
                    </li>
                    <li> - пояснение терминов;</li>
                    <li> - указание на ошибки;
                    </li>
                    <li> - рекомендации к их исправлению.
                    </li>
                </ul>
                </div>
                <div class="col-md-3 hidden-xs">
                    {% load static %}
                    <img src="{% static 'questions/img/seo.png' %}">
                </div>
             </div>
         </div>
         <div class="row main-about">
            <div class="work-ap" id="stud-link">
                <div class="col-md-12 text-center">
                    <h2>Для студентов</h2>
                </div>
                <div class="col-md-3 hidden-xs">
                    {% load static %}
                    <img src="{% static 'questions/img/stud.png' %}">
                </div>
                <div class="col-md-9">
                  <p>Отслеживание позиций в поисковой выдаче, проверка на наличие TKD ,  на наличие в тексте ключевых фраз,качественный анализ ваших конкурентов,  вывод анализа в Excel и PDF - теперь для этого вам потребуется буквально несколько минут!
                </p>

                <ul>
                    <p>Мы вам предоставляем:</p>
                    <li> - качественный анализ;</li>
                    <li> - отсутствие пояснений, подсказок, которые будут вас отвлекать
                    ;</li>
                    <li> - указание на ошибки; </li>
                    <li> - рекомендации к их исправлению.
                    </li>
                </ul>
                </div>
             </div>
         </div>
    </div>
</section>
{% endblock %}